.player {
    height: 20px;
    width: 20px; 
    display: inline-block;
}

#multiplayer {
    border-left: solid #ff0000;
    border-left-width: 5px;
    float: right;
    width: 317.5px;
    height: 480px;
    text-align: center;
    font-size: 40px;
}
#singleplayer {
    float: left;
    width: 317.5px;
    height: 480px;
    text-align: center;
    font-size: 40px;
}
#main {
    height: 480px;
    width: 640px;
    border: 1px solid black;    
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#select {
    display: none;
    position: absolute;
    height: 480px;
    width: 640px;
}

#title {
    cursor: pointer;
    font-size: 60px;
    text-align: center;
    position: relative;
}
#title:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1); 
}

#game {
    height: 480px;
    width: 640px;
    display: none;
}

#p1 {
    background-color: red;
    position: relative;
    left: 320px;
    top: 384px;
    transform: translate(-50%);
}

#p2 {
    background-color: blue;
    position: relative;
    left: 458px;
    top: 384px;
    transform: translate(-50%);
}

p {
    font-size: 20px;
}
.left {
    float: left;
    margin-left: 40px;
}
.right {
    float: right;
    margin-right: 40px;
}
.bullet1, .bullet2 {
    position: absolute;
    display: inline-block;
    top: 384px;
    height: 20px;
    width: 5px;
    background-color: black;
}