#player {
    height: 20px;
    width: 20px;
    background-color: red;
    position: relative;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    
}

#multiplayer {
    border-left: solid #ff0000;
    border-left-width: 5px;
    float: right;
    width: 317.5px;
    height: 480px;
    text-align: center;
    font-size: 40px;
}
#singleplayer {
    float: left;
    width: 317.5px;
    height: 480px;
    text-align: center;
    font-size: 40px;
}
#main {
    height: 480px;
    width: 640px;
    border: 1px solid black;
    position: absolute;
    display: block;
}

#game {
    display: none;
    position: absolute;
    height: 480px;
    width: 640px;
}

#title {
    cursor: pointer;
    font-size: 60px;
    text-align: center;
    position: relative;
}
#title:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1); 
}